.popup_opened {
    display: flex;
    opacity: 1;
    visibility: visible;
    /*animation: show 0.6s 1;*/
    /*animation-fill-mode: forwards;*/
    transition: all 0.6s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
тут я сделал через @keyframes т.к. если использовать :hover, в моменте когда браузер
предлагает какие-то готовые поля в input row то попап "гаснет"
 */