.content__list-item_remove {
    animation: runOut 0.4s 1;
    animation-fill-mode: forwards;
    transition: 0.2s;
}

@keyframes runOut {
    0% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
        transform: translateX(-30px) skewX(-5deg) scaleX(.9);
    }
    100% {
        transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}